<footer class="footer">
    <div class="text-center">
            <small class="copyright">Template with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> </small>
    </div>
</footer>