<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiencia</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Especialista TI</h3>
                <div class="time">2015 - Presente</div>
            </div>
            <div class="company">Cosapi Data, Lima</div>
        </div>
        <div class="details">
            <p>Encargado de asegurar la continuidad del negocio a nivel de TI, velar por el correcto funcionamiento de los diferentes servicios de los 16 Proyectos de Outsorcing. Proponer, dirigir, e implementar Servicios en Alta Disponibilidad (Base de Datos, WebServer, Telefonia VOIP), aplicando las buenas prácticas de nivel de servicio de ITIL.</p>

            <p>Proponer o implementar mejoras a nivel de Networking, durante el proceso se han desarrollado soluciones como VMWARE, CheckPoint, OPENVPN, VTP.</p>

            <p>En los proyectos Outsourcing se ha logrado implementar GIT como control de versiones para Asterisk y PHP, logrando mapear los cambios realizados por diferentes especialistas, pudiendo realizar un rollback en el tiempo.</p>

            <p>Se lidero un equipo de desarrolladores para implementar un nuevo software que contemplen todas las necesidades del core del negocio, este desarrollo ha tomado 6 meses y se usó PHP como lenguaje de programación, MVC como arquitectura de software, Laravel como framework de desarrollo, SQL Server como base de datos, Asterisk como Central telefónica, OpenFire como mensajería instantánea, GIT como control de versiones y SCRUM como metodología de Trabajo</p>
        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Coordinador TI</h3>
                <div class="time">Abril 2013 - Diciembre 2014</div>
            </div>
            <div class="company">IBR Perú, Lima- Chile</div>
        </div>
        <div class="details">
            <p>Desarrollo de Software Bajo POO y MVC, usando los Framework Symfony2 y CakePHP2.</p>

            <p>DBA SQL Server, optimizando tiempos de respuesta, generación de Backup incrementales, querys, Store Procedure, View, Trigger, Report Service, Analysis Service.</p>

            <p>Instalacion, Configuración de Switch Cisco, VLAN, Enrutamiento, Priorizacion QoS, Subneting, análisis y diseño de la implementación de la RED.</p>

            <p>Configuración Plataformas PBX Asterisk, Elastix, tarjetas FXO, Sangoma, Dialplan, (200 Puestos Call Center)</p>

            <p>Configuración y mantenimiento de Firewall PFSense, Fortinet 80c y 100c.

            Configuración y mantenimiento de Server Zentyal, el cual posee los módulos DNS + Active Directory + Proxy + DHCP + GPO</p>
        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Coordinador Proyectos</h3>
                <div class="time">Marzo 2012 - Enero 2013</div>
            </div>
            <div class="company">BPO Outsourcing, Lima</div>
        </div>
        <div class="details">
            <p>Conocimientos de PMI e ITIL, elaboración de planes de Trabajo, planificación y organización de equipos de trabajo, Gestión y seguimiento de proyectos, levantamiento de información y mejora continúa de las aplicaciones web. Encargado del diseño, implementación, capacitación y monitoreo de los proyectos de TI que apoyan a la automatización de los procesos de diferentes áreas/oficinas de la organización.</p>

            <p>Administrar la Base de Datos y el control de versiones de los diferentes proyectos, detectar cuellos de botellas, realizar mantenimiento de índices, mejoras en el volcado de la data, generar los backup y realizar los procesos de restauración, generar Reportes usando Report Service, aplicar buenas practicas a fine a la seguridad de la información.</p>

            <p>Los diferentes proyectos se manejaron sobre PHP, Visual Studio con la metodología SCRUM usando POO o MVC. 04 Personas a cargo</p>
        </div>
    </div>

</section>