<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Perfil Profesional</h2>
    <div class="summary">
        <p>Con cerca de 05 años de experiencia como Programmer y Developer de Base de Datos (MSSQL, MYSQL, MongoDB, Redis), PHP, Java, Node, Ruby, Visual Studio .Net</p>

		<p>Con mas de 16 meses como Full Stack Developer usando framework's Laravel, CakePHP, Symfony, Socket.IO, Express.js, Vue.js obptando siempre por un arquitectura MVC, aplicando buenas practicas de SCRUM, así mismo he liderado proyectos de media envergadura siguiendo normas internacionales de PMI e ITIL.</p>

		<p>Por ultimo conocimiento y experiencia de casi 03 años en Telefonía Voip (Cisco, Asterisk), Configuración Switch y Router, conocimientos en cisco CCNA, administración de Firewall, Proxy, Active Directory, File Server, Print Server.</p>
    </div>
</section>