<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Habilidades &amp; </h2>
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">Python &amp; Django</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="45%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Javascript &amp; jQuery</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="75%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">PHP &amp; Laravel</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">HTML5 &amp; CSS</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="75%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Ruby on Rails</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="60%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">MSSQL &amp; MySQL</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

    </div>
</section><!--//skills-section-->