<div class="sidebar-wrapper">

    <div class="profile-container">
        <img class="profile img-circle" src="assets/images/profile.jpg" alt="" width="90%" height="50%" />
        <h1 class="name">Alan Cornejo</h1>
        <h3 class="tagline">Full Stack Developer</h3>
    </div>

    <div class="contact-container container-block">
        <ul class="list-unstyled contact-list">
            <li class="email">
                <i class="fa fa-envelope"></i>
                <a href="mailto: alancornejo@icloud.com">alancornejo@icloud.com</a>
            </li>
            <li class="phone">
                <i class="fa fa-phone"></i>
                <a href="#">963925318</a>
            </li>
            <li class="website">
                <i class="fa fa-globe"></i>
                <a href="#" target="_blank">portfoliosite.com</a>
            </li>
            <li class="linkedin">
                <i class="fa fa-linkedin"></i>
                <a href="https://pe.linkedin.com/in/alancornejo" target="_blank">linkedin.com/in/alancornejo</a>
            </li>
            <li class="bitbucket">
                <i class="fa fa-bitbucket"></i>
                <a href="https://bitbucket.org/alancix/" target="_blank">bitbucket.org/alancix</a>
            </li>
            <li class="twitter">
                <i class="fa fa-twitter"></i>
                <a href="https://twitter.com/alancix" target="_blank">@alancix</a>
            </li>
        </ul>
    </div>

    <div class="education-container container-block">
        <h2 class="container-block-title">Educacion</h2>
        <div class="item">
            <h4 class="degree">MSc in Computer Science</h4>
            <h5 class="meta">University of London</h5>
            <div class="time">2011 - 2012</div>
        </div>
        <div class="item">
            <h4 class="degree">BSc in Applied Mathematics</h4>
            <h5 class="meta">Bristol University</h5>
            <div class="time">2007 - 2011</div>
        </div>
    </div>

    <div class="languages-container container-block">
        <h2 class="container-block-title">Idiomas</h2>
        <ul class="list-unstyled interests-list">
            <li>Spanish <span class="lang-desc">(Native)</span></li>
            <li>English <span class="lang-desc">(Basico)</span></li>
        </ul>
    </div>

    <div class="interests-container container-block">
        <h2 class="container-block-title">Intereses</h2>
        <ul class="list-unstyled interests-list">
            <li>Futbol</li>
            <li>Basket</li>
            <li>Tecnologias TI</li>
            <li>Videos Juegos PS3</li>
        </ul>
    </div>

</div>